MONGO_URI=mongodb://shubhamneman:shubham123@ac-1cdrnq1-shard-00-00.iv63dm0.mongodb.net:27017,ac-1cdrnq1-shard-00-01.iv63dm0.mongodb.net:27017,ac-1cdrnq1-shard-00-02.iv63dm0.mongodb.net:27017/ticketbooking?ssl=true&replicaSet=atlas-c3tppm-shard-0&authSource=admin&retryWrites=true&w=majority
JWT_SECRET=njcnjndivnjdnvjnhnvhfhvnfvdvdfvfvfvf
PORT=5000
